USE [master]
GO
/****** Object:  Database [LibraryManagementSystem]    Script Date: 1/3/2026 11:53:25 PM ******/
CREATE DATABASE [LibraryManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\LibraryManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\LibraryManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagementSystem]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 1/3/2026 11:53:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[bookId] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [bigint] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[author] [nvarchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[totalcopies] [int] NOT NULL,
	[availablecopies] [int] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[bookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrowed]    Script Date: 1/3/2026 11:53:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowed](
	[borrowId] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[bookId] [int] NOT NULL,
	[CheckoutDate] [date] NOT NULL,
	[dueDate] [date] NOT NULL,
 CONSTRAINT [PK_Borrowed] PRIMARY KEY CLUSTERED 
(
	[borrowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/3/2026 11:53:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penalties]    Script Date: 1/3/2026 11:53:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalties](
	[penaltyId] [int] IDENTITY(1,1) NOT NULL,
	[returnDate] [date] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[borrowId] [int] NOT NULL,
 CONSTRAINT [PK_Penalties] PRIMARY KEY CLUSTERED 
(
	[penaltyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/3/2026 11:53:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([bookId], [ISBN], [title], [author], [price], [CategoryId], [totalcopies], [availablecopies]) VALUES (2, 9798357465276, N'Getting over you', N'leslie b', CAST(7.99 AS Decimal(10, 2)), 17, 2, 2)
INSERT [dbo].[Books] ([bookId], [ISBN], [title], [author], [price], [CategoryId], [totalcopies], [availablecopies]) VALUES (3, 9781668034538, N'i fell in love with hope', N'lancali', CAST(13.99 AS Decimal(10, 2)), 1, 1, 1)
INSERT [dbo].[Books] ([bookId], [ISBN], [title], [author], [price], [CategoryId], [totalcopies], [availablecopies]) VALUES (4, 9781250762030, N'you ve reached sam', N'dustin thao', CAST(11.99 AS Decimal(10, 2)), 3, 5, 5)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrowed] ON 

INSERT [dbo].[Borrowed] ([borrowId], [email], [bookId], [CheckoutDate], [dueDate]) VALUES (1, N'customer@gmail.com', 5, CAST(N'2026-01-03' AS Date), CAST(N'2026-01-05' AS Date))
INSERT [dbo].[Borrowed] ([borrowId], [email], [bookId], [CheckoutDate], [dueDate]) VALUES (2, N'sally@gmail.com', 2, CAST(N'2026-01-03' AS Date), CAST(N'2026-01-10' AS Date))
INSERT [dbo].[Borrowed] ([borrowId], [email], [bookId], [CheckoutDate], [dueDate]) VALUES (3, N'mo@gmail.com', 6, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-02' AS Date))
SET IDENTITY_INSERT [dbo].[Borrowed] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'fiction')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (2, N'sci-fi')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'romance')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Penalties] ON 

INSERT [dbo].[Penalties] ([penaltyId], [returnDate], [amount], [borrowId]) VALUES (1, CAST(N'2026-01-03' AS Date), CAST(1.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[Penalties] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userId], [username], [email], [password]) VALUES (1, N'maria', N'maria@gmail.com', N'pushbutton')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [email_unique]    Script Date: 1/3/2026 11:53:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [email_unique] ON [dbo].[Users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[Borrowed]  WITH CHECK ADD  CONSTRAINT [FK_Borrowed_Books] FOREIGN KEY([bookId])
REFERENCES [dbo].[Books] ([bookId])
GO
ALTER TABLE [dbo].[Borrowed] CHECK CONSTRAINT [FK_Borrowed_Books]
GO
ALTER TABLE [dbo].[Penalties]  WITH CHECK ADD  CONSTRAINT [FK_Penalties_Borrowed] FOREIGN KEY([borrowId])
REFERENCES [dbo].[Borrowed] ([borrowId])
GO
ALTER TABLE [dbo].[Penalties] CHECK CONSTRAINT [FK_Penalties_Borrowed]
GO
USE [master]
GO
